#qna{
    display: none;    
    background-color: #F2F2F2;  
    background-size:auto;
    border-radius: 20px; 
}

.qBox{
    text-align: center;
    font-family: 'Cafe24SsurroundAir';
    font-weight:bold;
    font-size: 25px;
    width: 80%
}

.answerList{
    
    font-family: 'Cafe24SsurroundAir';
    font-weight:bold;
    text-align:center;   /*텍스트 가운데 배치*/
    background-color: #A8B3D7;
    border-radius: 20px; 
    font-size: 18px;
    display: block;
    width: 80%;
    border: 0px;
    height: auto;
}

.answerList:hover, .answerList:focus{ /*버튼 클릭 시 이벤트*/
    background-color: #A8B3D7;
    color: #F2F2F2;  
}

.status{
    height: 30px;
    background-color:#F2F2F2;
    border-radius: 20px;
}

.statusBar{
    height:100%; 
    background-color: lightslategray;
    border-radius: 17px;
}

.card-img-top{
    background-color: #F2F2F2;
    border-radius: 20px;
    border-color: #A8B3D7;
}

.card{
    background-color: #F2F2F2;
    border-style: none;
}
